html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #B48291;
    overflow: hidden;
}

#header {
    height: 10vh;
}

#navbar {
    width: 100%;
    height: 10vh;
    background-color: #A5243D;
}

#navbarSupportedContent {
    background-color: #A5243D; 
    margin: -5px; 
    padding-left: 25px;
}


#button {
    width: 70%;
    margin-bottom: 25px;
    margin-top: 25px;
}

#folders {
    height: 90vh;
    padding: 5px;
    border-right: 4px solid #A5243D;
    border-top:  4px solid #A5243D;
}

#folder-list {
    width: 75%;

}

#active-folder {
    height: 25vh;
    /* padding: 5px; */
    border-top: 4px solid #A5243D;
    border-bottom: 4px solid #A5243D;
}

#subject {
    margin-left: 15px;
    padding: 35px 45px 0px 0px;
}

#icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#email-meta {
    margin-left: 50px;
}

#reading-pane {
    height: 55vh;
    background-color: #B48291;
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px 10px;

}

#email-contents {
    background-color: #fff;
    padding: 10px;
}