html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: antiquewhite;
}

/* .container-fluid {
    border: 3px solid red;

} */


#header {
    height: 10vh;
    padding: 5px;
}

#folders {
    height: 90vh;
    padding: 5px;
    border-right: 4px solid gray;
    border-top:  4px solid gray;
}

#folder-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 85%;

}

#active-folder {
    height: 25vh;
    padding: 5px;
    border-top: 4px solid gray;
}

#reading-pane {
    height: 65vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 80%;
    padding-top: 40px;
}

#email-contents {
    background-color: rgb(191, 202, 218);
}